mixin getTransportationInfo(parent)
  aside.transportation-info(class=`${(parent) ? `${parent}__info` : ''}`)
    header.transportation-info__header
      h3.transportation-info-title.transportation-info__title
        span.transportation-info-title__text Запрос # 24
      p.transportation-info-status.transportation-info__status
        span.transportation-info-status__text Ожидает обработки

    p.transportation-info-annotation.transportation-info__annotation
      span.transportation-info-annotation__text Информация о точках маршрута, модели транспортного средства и другие сведения&nbsp;о&nbsp;перевозке.

    footer.transportation-info__footer
      p.transportation-info-note.transportation-info__note
        span.transportation-info-note__text Поля, помеченные
          span.transportation-info-note__text--is-colored &nbsp;*&nbsp;
          | являются обязательными для заполнения.
