include ./TransportationFormField

mixin getTransportationForm(parent)
  form.transportation-form(class=`${(parent) ? `${parent}__form` : ''}` method='POST' action='/')
    +getTransportationFormField('Адрес места загрузки', 'text', 'userStartCity', 'startCity', 'start-city', true)
    +getTransportationFormField('Таможня назначения', 'text', 'userCustoms', 'customs', 'customs', false)
    +getTransportationFormField('Адрес места разгрузки', 'text', 'userFinishCity', 'finishCity', 'finish-city', true)
    +getTransportationFormField('Предполагаемая дата перевозки', 'text', 'userTransportDate', 'transportDate', 'transport-date', false)
    +getTransportationFormField('Тип кузова', 'select', 'userTruckType', 'truckType', 'truck-type', true, formData.truckTypes)
    +getTransportationFormField('Условия поставки', 'select', 'userTermsDelivery', 'termsDelivery', '', false, formData.termsDelivery)
    +getTransportationFormField('Комментарий', 'textarea', 'userComment', 'comment', '', false)
