include ./components/TransportationInfo
include ./components/TransportationForm

mixin getTransportation(parent)
  section.transportation(class=`${(parent) ? `${parent}__transportation` : ''}`)
    h2.transportation-title.transportation__title.transportation-title--is-hidden
      span.transportation-title__text Форма перевозок
    .u-wrapper
      .transportation__col
        +getTransportationInfo('transportation')

      .transportation__col
        +getTransportationForm('transportation')
