include ./components/TransportationInfo
include ./components/TransportationForm

mixin getTransportation(parent)
  section.transportation(class=`${(parent) ? `${parent}__transportation` : ''}`)
    h2.transportation-title.transportation__title.transportation-title--is-sr-only
      span.transportation-title__text Форма перевозок
    .u-wrapper.u-wrapper--is-row.transportation__wrapper
      +getTransportationInfo('transportation')
      +getTransportationForm('transportation')
