include mixins
html(lang='ru')
  head
    +getMeta('Content-Type', 'text/html, charset=utf-8')
    +getMeta('viewport', 'width=device-width, initial-scale=1')
    base(href='/' target='_blank')
    block SEO
    for content, name in developer
      +getMeta(name, content)
    +getLink('icon', 'favicon')
    +getLink('stylesheet', 'styles')
    +getLink('canonical', '')
  body
    block Content

  +getScript('libs.min')
  +getScript('app.min')
